<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById("myForm").addEventListener("submit", function (e) {
               var myForm = document.getElementById('myForm');
               var account_name = document.getElementById('search_nickname').value;
               myForm.action = '/accounts/' + account_name;
            });
         });
    </script>
</head>
<body>
<form method="post" id="myForm">
    <div>Nickname</div>
    <input type="text" id="search_nickname" placeholder="Type your nickname"/>
    <button>Search</button>
</form>
</body>
</html>